body {
    margin: 0;                                        /* Set the margin for all four sides of <body> element to 0 pixels */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Specified font for <body> element */
    min-width: 960px;                                 /* Set the minimum width of <body> to 960 pixels */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    width: 960px;                                     /* Set the width for .container class to 960px. */ 
    margin: 0 auto;                                   /* Set the margin for .container top-bottom to 0 pixels and left-right margins to auto */
    overflow: auto;                                   /* Set The overflow property to auto if content overflows an element's box */  

}

header {
    text-align: center;                               /* Set the text-align property for the horizontal alignment of text in <header> to centre */  
    width: 100%;                                      /* Set the width for <header> element to 100% */
}

nav {
    font-weight: bold;
    background-image: url('images/navbackground.jpg');
    background-repeat: repeat-x;
    transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
}

    nav ul, footer ul {
        list-style-type: none;                        /* Specify the type of list-item marker in <nav ul, footer ul> list to none */
        margin: 0px;                                  /* Set the margin for all four sides of <nav ul, footer ul> element to 0 pixels */
        padding: 20px 0px;
    }

    nav li, footer li {
        display: inline;
        margin: 20px;                                 /* Set the margin for all four sides of <nav li, footer li> element to 20 pixels */
        text-transform: uppercase;                    /* Transform text in <nav li, footer li> to uppercase */ 
    }

    nav a {
        text-decoration: none;                        /* Set text decorations for <nav a> element to none */    
        color: white;                                 /* Set the text-color for <nav a> element to white */
    }

        nav a:hover {
            text-decoration: underline;               /* Set text decorations for <nav a:hover> element to underline */   
        }

img {
    
}



main {
    text-align: center;
    margin-bottom: 40px;
    color: #505E67;
}

    main h1 {
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 2.2em;
        border-bottom: 1px dashed lightgray;
        margin-top: 50px;
    }

    main img {
        width: 70%;
        margin: auto;
        padding: 2px;
        border: 1px solid lightgray;
    }

footer {
    text-align: center;
    width: 100%;
    background-color: #232244;
    color: white;
    margin-top: auto;
}

    footer a {
        color: white;
    }


#contactUs {
}

#contactUs a{

}

.spaced-element {
    margin-bottom: 40px; /* Adjust space below the element */
}

.big-button {
    font-size: 20px; /* Increase font size */
    padding: 15px 30px; /* Add padding for a larger clickable area */
    border-radius: 8px; /* Round the corners for a more modern look */
    background-color: #9C9C9C; /* Set a background color */
    color: white; /* Set text color */
    border: none; /* Remove the default border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

    .big-button:hover {
        background-color: #D7D7D7; /* Darker background color on hover */
    }

/*-- DARK MODE --*/
.dark-mode {
    background-color: black;
    color: white;
}

/*-- STICKY NAV BAR --*/
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

* {
    box-sizing: border-box;
}

/*-- GALLERY --*/
/* Position the image container (needed to position the left and right arrows) */
/*.container {
   position: relative;
}*/

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

/*-- POPUP --*/
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

    /* The actual popup (appears on top) */
    .popup .popuptext {
        visibility: hidden;
        width: auto;
        background-color: #DC9121;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 8px;
        position: absolute;
        z-index: 1;
        bottom: 90%;
        left: 50%;
        margin-left: -190px;
        white-space: nowrap;
        border: 1px solid black;
        font-size: 22px;
    }        

    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*-- FullScreen --*/
/* Style for the fullscreen button */
.fullscreen-btn {
    position: fixed;
    bottom: 35px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s;
}

    .fullscreen-btn:hover {
        background-color: #0056b3;
    }

